extends layout

block content
  h1= title
  p Welcome to #{title}
  h3= "re-compute outputs"
  form(method='get' action='/')
    button(name='compute_outputs' value=1) compute outputs
  each index in indexes
    div(id='index')
        img(src=index)