extends layout


block content
  include mixins/figure_output
  
  h1= title
  p Welcome to #{title}
  //- h3 re-compute outputs
  //- form(method='post' action='/')
  //-   button(name='compute_dataset' value=1) load_dataset_1 
  //-   button(name='compute_dataset' value=2) load_dataset_2
  //-   button(name='compute_dataset' value=3) load_dataset_3
  p This recomputes the entire paper with the selected dataset. You can recompute individual workflow outputs by selecting the workflow edit option on a single workflow output.
  h4 Full Workflow
  div(id="full_workflow_svg")
    object(type="image/svg+xml" data=multi_workflow_svg)
  h3 Workflow outputs
  p individual workflow outputs with configurable inputs
  div(id="workflow-container")
    each artefact in artefacts
      +figure_output(artefact.primary.syslink, artefact.secondary, artefact.svg, num_artefacts)